{
	"root": true,

	"extends": ["@ljharb", "@ljharb/eslint-config/node/latest"],

	"plugins": ["node"],

	"rules": {
		"eqeqeq": [2, "allow-null"],
		"max-lines-per-function": 0,
		"node/no-unsupported-features/es-syntax": 2,
		"sort-keys": 0,
	},

	"overrides": [
		{
			"files": "**/*.mjs",
			"rules": {
				"node/no-unsupported-features/es-syntax": [1, {
					"version": "^12.17 || ^13.7 || >= 14",
				}],
				"no-restricted-exports": 0,
			},
		},
		{
			"files": "test/**/*.js",
			"rules": {
				"func-style": 0,
				"max-lines-per-function": 0,
				"max-params": 0,
				"no-await-in-loop": 1,
				"no-new-func": 1,
			},
		},
	],
}
